
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body{
    background-image: url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Poppins', sans-serif;
}

.btn-history{
    opacity: .5;
}

#previous-list-items,
#previous-list
{
    max-height: 150px;
}